html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(240, 240, 240);
}

.app {
  margin-top: 80px;
  height: 100%;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  font-size: 24px;
}

.buffer {
  width: 800px;
  font-size: 16px;
  text-align: left;
  min-height: 800px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}

.close,
.clear {
  background: rgba(150, 0, 0, 0.8);
  color: white;
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  min-width: 120px;
  text-align: center;
  border: none;
}

.clear {
  background: rgba(0, 120, 0, 0.8);
}

.divider {
  display: inline-block;
  background-color: rgba(40, 40, 50, 1);
  width: 800px;
  min-height: 15px;
}

.header {
  display: flex;
  position: fixed;
  top: 0;
  padding: 10px 0;
  background-color: rgb(240, 240, 240);
  width: 100%;
  justify-content: center;
  box-shadow: 2px 2px 20px rgb(240, 240, 240);
}

.headerContainer {
  width: 800px;
  display: flex;
  justify-content: space-between;
  height: 50px;
  gap: 10px;
}

.search {
  flex: 1;
  font-size: 26px;
  font-weight: 600;
  padding: 5px;
  border: 3px solid rgba(40, 40, 50, 1);
}

.topic {
  width: 800px;
  box-sizing: border-box;
  padding: 15px;
  background-color: rgba(50, 50, 60, 1);
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.subtopics {
  background-color: rgba(190, 190, 200, 0.4);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.topicItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  width: 800px;
  box-sizing: border-box;
}

.topicHeader {
  background-color: rgba(40, 40, 50, 0.4);
  padding: 5px;
  color: whitesmoke;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 600;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.topicTitle {
  padding: 10px;
  font-weight: 700;
  width: 100%;
  font-size: 24px;
  text-transform: uppercase;
  text-align: left;
  background: rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.topicText {
  padding: 10px;
  text-align: left;
}

.image {
  background-position-x: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  width: 800px;
}

.optionsIcon {
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 15px;
  background-color: rgba(0,0,0,.025);
}

.optionsItem {
  width: 30%;
  font-size: 20px;
  padding-top: 10px;
}

.optionsModal {
  width: 800px;
  padding: 20px;
  background-color: white;
  outline: none;
  margin: auto;
  margin-top: 65px;
  border: 5px solid rgba(40, 40, 50, 1);
}

.optionsModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.7);
}

.optionsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  margin-bottom: 20px;
}

.optionsFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.optionsFooter .clear {
  margin-right: 20px;
}

.optionsTitle {
  font-weight: 600;
  font-size: 30px;
}

.optionsCloseIcon {
  height: 30px;
  width: 30px;
  cursor: pointer;
}